* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
@import "bootstrap/scss/bootstrap-grid";

:root {
  --beige: #f2ece0;
  --brown: #302207;
  --orange: #ffb37c;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.container {
  padding-top: 20px;
}

body {
  background-color: var(--beige);
}

.fond-container {
  display: flex;
  justify-content: center;
}

.fond {
  background-color: var(--orange);
  border-radius: 615px 615px 0px 0px;
  width: 1282px;
  height: 100%;
  position: absolute;
  margin-top: 198px;
  margin-left: 73px;
  margin-right: 73px;
}

.header {
  font-family: "8";
  font-size: 20px;
  color: var(--brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 21px;
}
.logo-svg {
  width: 57.523px;
  height: 73.172px;
}

.menu {
  font-family: Gelica;
  font-size: 16px;
  display: flex;
  gap: 44px;
}

.icons {
  display: flex;
  gap: 24px;
}
.language {
  width: 44px;
  height: 27px;
  color: var(--beige);
  border-radius: 5px;
  background: var(--brown);
  font-family: gelica;
  padding: 4px 12px;
  color: var(--beige);
  font-size: 16px;
  font-weight: 400;
}

.icon-shop {
  font-family: "Font Awesome 6 Free";
  font-size: 27px;
  font-weight: 900;
}

.icon-user {
  font-family: "Font Awesome 6 Free";
  font-size: 27px;
  font-weight: 900;
}

.titre {
  color: #302207;
  text-align: center;
  font-family: "8";
  font-size: 48px;
  line-height: 110%;
  width: 643px;
}

.background-main {
  background-color: var(--orange);
  max-width: 90%;
  margin: 0 auto;
}
.background-top {
  background-image: url(../images/background-top.png);
  background-size: 100%;
  max-width: 90%;
  margin: 0 auto;
  aspect-ratio: 1282/649;
}
