* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
@import "bootstrap/scss/bootstrap-grid";

.row > .col,
.row > [class^="col-"] {
  padding: 0;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

:root {
  --beige: #f2ece0;
  --brown: #302207;
  --orange: #ffb37c;
  --lighter-brown: #69552f;
}

.row + .row {
  margin-top: 16px;
}
a {
  text-decoration: none;
}
.container {
  padding-top: 20px;
}

body {
  background-color: var(--beige);
  font-family: Gelica;
}

.fond-container {
  display: flex;
  justify-content: center;
}

.fond {
  background-color: var(--orange);
  border-radius: 615px 615px 0px 0px;
  width: 1282px;
  height: 100%;
  position: absolute;
  margin-top: 198px;
  margin-left: 73px;
  margin-right: 73px;
}

.header {
  font-family: "8";
  font-size: 20px;
  color: var(--brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 114px;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 21px;
}

.logo-svg {
  width: 57.523px;
  height: 73.172px;
}

.menu {
  font-family: Gelica;
  font-size: 16px;
  display: flex;
  gap: 44px;
}

.icons {
  display: flex;
  gap: 24px;
}
.language {
  width: 44px;
  height: 27px;
  color: var(--beige);
  border-radius: 5px;
  background: var(--brown);
  font-family: gelica;
  padding: 4px 12px;
  color: var(--beige);
  font-size: 16px;
  font-weight: 400;
}

.icon-shop {
  font-family: "Font Awesome 6 Free";
  font-size: 27px;
  font-weight: 900;
}

.icon-user {
  font-family: "Font Awesome 6 Free";
  font-size: 27px;
  font-weight: 900;
}

.titre {
  color: #302207;
  text-align: center;
  font-family: "8";
  font-size: 48px;
  line-height: 110%;
  width: 643px;
  margin-top: 129px;
}

.background-main {
  background-color: var(--orange);
  max-width: 90%;
  margin: 0 auto;
}
.background-top {
  background-color: var(--orange);
  border-radius: 970em 970em 0 0;
  background-size: 100%;
  max-width: 90%;
  margin: 0 auto;
  aspect-ratio: 1282/649;
}

.visuel-titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vin-blanc {
  margin-left: -300px;
}

.vin-rouge {
  margin-right: -300px;
  margin-top: -900px;
  margin-left: 250px;
}
.bouton-titre {
  border-radius: 25px;
  background: var(--brown);
  color: var(--beige);
  display: flex;
  width: 358px;
  height: 45px;
  padding: 0px 26px;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.nos-valeurs {
  border-radius: 360px 360px 0px 0px;
  background: var(--brown);
  width: 737px;
  height: 574px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  padding-top: 114px;
  margin-top: 188px;
  margin-left: 27px;
}

.image-valeurs {
  margin-top: 188px;
  margin-left: 82px;
}

.titre-valeurs {
  color: var(--beige);
  text-align: center;
  font-family: "8";
  font-size: 40px;
}

.texte-valeurs {
  color: var(--beige);
  font-size: 18px;
  font-weight: 300;
  width: 456px;
}

.bouton-valeurs {
  border-radius: 25px;
  background: #f2ece0;
  display: flex;
  width: 263px;
  height: 45px;
  padding: 0px 26px;
  justify-content: center;
  align-items: center;
  color: var(--brown);
  font-size: 20px;
  font-weight: 400;
}

.nos-vignerons {
  border-radius: 450px 450px 0px 0px;
  background: var(--brown);
  width: 922px;
  height: 893px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 132px;
  padding-bottom: 83px;
}
.titre-vignerons {
  color: var(--beige);
  text-align: center;
  font-family: "8";
  font-size: 40px;
  font-weight: 400;
}
.portrait-vignerons {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.prenoms-vignerons {
  color: #f2ece0;
  text-align: center;
  font-family: "8";
  font-size: 24px;
  font-weight: 400;
}
.texte-vignerons {
  color: var(--beige);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  width: 548px;
}

.bouton-vignerons {
  color: var(--brown);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  border-radius: 25px;
  background: var(--beige);
  display: flex;
  width: 358px;
  height: 45px;
  padding: 0px 26px;
  justify-content: center;
  align-items: center;
}

.nos-vignerons-container {
  margin-top: 125px;
  display: flex;
  justify-content: center;
}

.titre-degustation {
  color: var(--brown);
  font-family: "8";
  font-size: 40px;
  width: 354px;
  line-height: 115%;
  margin-top: 206px;
}

.sous-titre-degustation {
  color: var(--brown);
  font-size: 22px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 18px;
}

.texte-degustation {
  color: var(--brown);
  font-size: 18px;
  font-weight: 300;
}

.bouton-degustation {
  border-radius: 25px;
  background: var(--brown);
  display: flex;
  width: 169px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--beige);
  font-size: 18px;
  font-weight: 400;
  margin-top: 38px;
}

.image-degustation {
  margin-top: 132px;
  margin-bottom: 221px;
}

.infos-reseaux {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.infos-reseaux-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-left: 50px;
  margin-right: -110px;
}

.logo-nom-domaine {
  color: var(--brown);
  text-align: center;
  font-family: "8";
  font-size: 20px;
}
.adresse {
  color: var(--brown);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 11px;
}
.reseaux {
  font-family: "Font Awesome 6 Brands";
  font-size: 24px;
  color: var(--brown);
  display: flex;
  gap: 43px;
  margin-top: 32px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.newsletter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-right: -50px;
}

.newsletter-titre {
  color: var(--brown);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 319px;
}

.email {
  border-radius: 7px;
  background: var(--brown);
  color: var(--beige);
  display: inline-flex;
  height: 39px;
  padding: 10px 20px;
  text-align: left;
  width: 245px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
}

.num {
  display: flex;
  gap: 10px;
  margin-top: 23px;
}
.phone-number {
  color: var(--brown);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.ventes {
  color: var(--brown);
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  margin-top: 70px;
}
.titre-ventes {
  font-size: 16px;
  font-weight: 600;
}

.horaires-jours {
  font-size: 16px;
  font-weight: 500;
}

.horaires {
  margin-top: 17px;
}

.ventes-container {
  margin-left: -35px;
}
.line {
  width: 0.5px;
  height: 195px;
  background-color: var(--brown);
  margin-top: 60px;
}

.footer-bottom {
  color: var(--lighter-brown);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.bio-suisse {
  margin-left: -70px;
}

.detail-background {
  width: 1117px;
  height: 962px;
  background-size: 100%;
  max-width: 90%;
  border-radius: 970em 970em 0 0;
  background: var(--brown);
  display: flex;
  justify-self: center;
  margin-top: 63px;
}

.titre-detail {
  color: #f2ece0;
  text-align: center;
  font-family: "8";
  font-size: 66px;
  font-weight: 400;
  text-transform: uppercase;
  width: 548px;
}

.colone-2 {
  color: var(--beige);
  font-weight: 300;
  display: flex;
  width: 20vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
}
.colone-1 {
  display: flex;
  width: 15vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  color: var(--beige);
  font-weight: 300;
}
.weight {
  font-weight: 500;
}

.panier-icon {
  color: var(--brown);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.bouton-panier {
  display: flex;
  width: 264px;
  height: 43px;
  padding-left: 29px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 25px;
  background: var(--beige);
  margin-top: 10px;
}

.prix {
  color: var(--brown);
}

.panier-icon {
  font-size: 24px;
  margin-right: 22px;
}

.blanc-detail {
  margin-left: -33vw;
  width: 15.5vw;
  height: 50vw;
  transform: translate(5vw, 15.5vw);
}

.detail-container {
  display: flex;
  transform: translate(145px, 355px);
  gap: 38px;
}

.titre-detail {
  display: flex;
  transform: translate(270px, 85px);
}
.suggestion {
  color: var(--brown);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 131px;
}

.accords {
  width: calc(330 / 1920 * 100vw);
}
